<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net40" />
  <package id="EPPlus" version="4.1.1" targetFramework="net4" />
  <package id="ExcelDataReader" version="3.3.0" targetFramework="net40" />
  <package id="ExcelDataReader.DataSet" version="3.3.0" targetFramework="net40" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net451" />
  <package id="NumericUpDown" version="3.0.1.0" targetFramework="net4" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net4" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net451" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net451" />
  <package id="TemplateEngine.Docx" version="1.1.4" targetFramework="net451" />
  <package id="WPFTextBoxAutoComplete" version="1.0.5" targetFramework="net451" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net451" />
</packages>